@model CarroCRUD.Models.Aluguel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Aluguel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdCarro" class="control-label"></label>
                <input asp-for="IdCarro" class="form-control" />
                <span asp-validation-for="IdCarro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <input asp-for="IdCliente" class="form-control" />
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAluguel" class="control-label"></label>
                <input asp-for="DataAluguel" class="form-control" />
                <span asp-validation-for="DataAluguel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateReturno" class="control-label"></label>
                <input asp-for="DateReturno" class="form-control" />
                <span asp-validation-for="DateReturno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
